/* Reset some default browser styles */
body,
html {
  margin: 0;
  padding: 0;
}
.top_right {
  z-index: 1000;
}
/* Position "Continue Shopping" and "Checkout" relative to cart items */
.top-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 69px;
  margin-right: 0%;
  padding: 0 20px;
  z-index: 1000;
  font-family: "Cabin";
}
.divider {
  margin-bottom: 0.5%;
}
.top-center {
  margin-right: -5%;
}

.continue {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
}
.checkout_right {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 100px;
  margin-right: 8px;
}

.checkout {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 100px;
  z-index: 1000;
  margin-right: 250px;
  font-family: "Cabin";
}
.checkout_right:hover {
  background-color: #4cb71e;
  transform: scale(1.02);
  box-shadow: 0 4% 10% rgba(0, 0, 0, 0.1);
}

.continue:hover {
  background-color: #4cb71e;
  transform: scale(1.02);
  box-shadow: 0 4% 10% rgba(0, 0, 0, 0.1);
}

.checkout:hover {
  background-color: #4cb71e;
  transform: scale(1.02);
  box-shadow: 0 4% 10% rgba(0, 0, 0, 0.1);
}

/* Product Card Styling */
.cart-item {
  display: flex;
  width: 60%;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 0;
  margin: 0.5% 0;
  padding: 2%;
  box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 0;
}

.cart-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4% 10% rgba(0, 0, 0, 0.1);
}

/* Zoom of the items */
.cart-item img {
  max-width: 10%;
  max-height: 10%;
  margin: 0 0 0 0; /* Adjust as needed */
}

/* + and - sign above remove sign */
.item-details {
  width: 100%;
}

/* Spacing of cart items */
.item-details .item-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2%;
}

/* Summary Box Styling */
/* Rounded edges and green border for the summary box */
.summary-box {
  position: fixed;
  top: 154.5px;
  right: 0.3%;
  width: 33%;
  background-color: #f0f0f0;
  border: 1px solid rgb(4, 73, 39); /* Add a green border */
  border-radius: 10px; /* Round out the edges */
  padding: 1%;
  text-align: center;
  z-index: 1;
}

/* Rounded edges for cart items and green border */
.cart-item {
  display: flex;
  width: 60%;
  border: 1px solid rgb(4, 73, 39); /* Add a green border */
  background-color: #fff;
  border-radius: 10px; /* Round out the edges */
  margin: 0.5% 1px;
  padding: 2%;
  box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 0;
}
