/* Styles for each individual button */
.category-button {
  padding: 5px 10px;
  background-color: #f44336; /* Red color for delete button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-button:hover {
  background-color: #ff7961; /* Lighter red on hover */
}

/* Styles for the button container */
.category-button-container {
  display: flex;
  align-items: center;
  gap: 1px; /* Adjust as needed for space between buttons */
  margin-top: auto; /* Push the buttons to the bottom */
}

.add-category-button{
  padding: 5px 10px;
  background-color: #005823; /* Green color for add button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}