.login {
  background-image: linear-gradient(to bottom, rgb(205, 221, 205), white);
  font-family: "Cabin";
  display: flex;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  min-height: 100vh;
  align-items: center;

  justify-content: center;
  color: rgb(14, 74, 33);
  justify-content: center;
  height: 150vh;
}
@media screen and (min-width: 600px) {
}

.loginbuttons {
  border: none;
  background-color: rgb(205, 221, 205); /*login button*/
  padding: 20px;
  border-radius: 10px;
  font-family: "Cabin";
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  color: rgb(14, 74, 33);
  align-items: center;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 22px;
}

.authformcontainer,
.loginform {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.authformcontainer {
  margin: auto;
  width: 30%;
  padding: 2.8rem;
  border: 8px solid #005823;
  border-radius: 10px;
  margin: 0.4rem;
}

h2 {
  color: rgb(4, 73, 39);
  font-family: "Cabin";
  text-decoration: underline;
  font-family: "Cabin";
}
.loginform {
  margin-right: 30px;
  justify-content: center;
}

a {
  padding-top: 20px;
  margin-top: 10px;
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
  color: #005823;
}
