.categories-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow */
  position: relative; /* Needed for absolute positioning of arrows */
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  font-family: Cabin;
}

.category-list {
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.category-box {
  flex: 0 0 auto;
  text-align: center;
  border: 2px solid #5b7860;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  min-width: 100px; /* Decreased minimum width to make boxes smaller */
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.category-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.category-box.selected {
  background-color: #d1e9c5;
}

.category-image {
  max-width: 60px; /* Decreased image size */
  max-height: 60px; /* Decreased image size */
  margin: 0 auto;
}

.category-name {
  font-size: 16px;
  margin: 1;
  text-align: center;
}

.scroll-arrow {
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px; /* Adjusted margin to bring arrows closer with space */
}

.left-arrow {
  position: flexible;
  left: 70%; /* Adjusted position to bring the left arrow closer */
}

.right-arrow {
  position: flexible;
  right: 70%; /* Adjusted position to bring the right arrow closer */
}

.scroll-arrow img {
  max-width: 40px;
}

.category-line {
  width: 80%;
  height: 1px;
  background-color: #005823;
  margin: 20px auto; /* Center the line horizontally */
  display: block; /* Ensures the line is a block-level element */
}

.ending-line {
  width: 100%;
  height: 1px;
  margin: 20px auto; /* Center the line horizontally */
  display: block; /* Ensures the line is a block-level element */
}

.category-item-container {
  /* This class should be on the div wrapping CategoryItem */
  width: 100%; /* Adjust as per your design */
  /* Additional styles if needed */
}
