.container {
  padding: 20px;
  border: none;
  border-radius: 10px;
}
.parentcontainer {
  padding-left: 15px;
  text-align: left;
  padding-bottom: 7px;
}
.label {
  display: inline-block;
  justify-content: center;
  color: rgb(4, 73, 39);
  font-size: 19px;
}

.content {
  width: 100%;
  overflow-wrap: break-word;
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
}
