.container {
  width: 100%;
  height: 90px;
  background-color: #5b7860;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 15px; /* Remove vertical margin for spacing between sections and icons */
}

.title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.title:hover {
  color: rgb(144, 189, 158);
  font-weight: bold;
}

.text {
  color: #ffffff;
  font-size: 15px;
  margin: 0 10px;
  margin-bottom: 15px;
}

.social-icon {
  width: 30px; /* Adjust this value to scale the size of your image */
  height: auto; /* This will keep the aspect ratio intact */
  margin-top: 20px; /* Adjust this value to control space between the title and the icons */
  color: #ffffff;
  margin: 0 2px;
}

.social-icon:hover {
  transform: scale(
    1.1
  ); /* Optional: makes the icon slightly larger when hovering over it */
}
