.results {
  margin-top: 18px;
  font-family: "Cabin";
  color: rgb(14, 74, 33);
  background: linear-gradient(to bottom, rgb(205, 221, 205), white);
  height: 100vh;
}

.search-result-item {
  margin-top: 30px;
}
.searchheader {
  margin-top: 65px;
}
.searchfor {
  padding: 30px;
}
