.managers-sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  font-family: "Cabin";

  top: 0;
  left: 0;
  background-color: rgb(14, 74, 33);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 65px; /* Adjust if needed based on your header's height */
}

.managers-sidebar a {
  text-decoration: none;

  padding: 30px;
  color: white;
  justify-content: space;
  font-size: 20px;
  color: #fff; /* This is the text color, set to white for contrast */
  display: block;
  margin-top: 0;
  padding-bottom: 18px;
}

.managers-sidebar a:hover {
  color: rgb(144, 189, 158);
  font-weight: bold;
}
